* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}

h2 {
    padding: 10px;
    padding-bottom: 2px;
    text-align: center;
    margin-top: 15px;
}
.h2 {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* test con glider ----------------------------- */
.carousel {
    width: 100%;
    height: 30vh;
    margin: auto;
    padding: 10px;
}
.carousel__contenedor {
    width: 100%;
    height: 30vh;
    display: flex;
    position: relative;
    margin-left: 5px;
}
.carousel__elementos {
    background-color: #7DB7A3;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 5px;
    overflow: hidden;
}
.carousel__lista, 
.glider,
.draggable{
    overflow: hidden;
    padding: 0;
    width: 100%;
    margin-right: 10px;
    margin-left: 5px;
}
.glider-track,
.carousel__elementos,
.glider-slide, 
.center, 
.visible {
    width: 100%;
    height: 30vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    color: rgb(255, 0, 119);
}
.carousel__anterior {
    left: 1%;
    top: 100%;
}
.carousel__siguiente {
    left: 88%;
    top: 100%;
}
.foto {
    width: 37%;
    height: 95%;
    margin: auto;
}
.foto1 {
    background-image: url(/Francisco/infos/EVENEMENTSMOIS.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.foto2 {
    background-image: url(/Francisco/infos/job.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.foto3 {
    background-image: url(/Francisco/infos/padres.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.texto {
    width: 60%;
    height: 100%;
    font-size: .8em;
}
.texto p {
    padding-top: 3%;
    margin-bottom: 5%;
}