
/* ---------------------------------------------------------
--------------           HEADER           ------------------
----------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: "MaPolice-regular";
}

/* ---------------------------------------------------------
--------------           ACTIVITÉS           ---------------
----------------------------------------------------------*/

/*------------------------------ 
---------- ARTICLE -------------
----------------------------- */

.article_activites{
    padding: 2vh;
}

.h1_activites{
    font-size: 3vh;
    text-align: center;
}

.h2_activites{
    text-align: center;
    font-size: 2vh;
}

.a_activites{
    text-decoration: none;
    color: black;
}

.div_activites{
    height: 35vh;
    width: 35vh;
    margin : 2vh auto;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    border-radius: 15%;
}

.text_activites{
    margin : 3vh 0vh;
    padding : 0% 3vh;
}

.image_activites{
    margin-top: 2vh;
    width: 50%;
    height: 50%;
}

/*------------------------------ 
---------- FOOTER --------------
----------------------------- */

footer p {
    margin : 2% 5%;
    text-align: center;
    font-size: 1.2vh;
}

/* ---------------------------------------------------------
--------------           KEY FRAMES          ---------------
----------------------------------------------------------*/

@keyframes bounce{
    from {transform: translateY(0);}
     to  {transform: translateY(-2vh);}
}


