/* Couleur de fond */

.bgColorLightPink{
  background-color: #D6859E;
}

.bgColorDarkPink{
  background-color: #C93364;
}
.bgColorLightGreen{
  background-color: #7DB7A3;
}
.bgColorDarkGreen{
  background-color: #3C963E;
}
.bgColorBrown{
  background-color: #672C2A;
}
.bgColorYellow{
  background-color: #DF8B19;
}
.bgColorBlue{
  background-color: #3696A1;
}

/* Couleur de police */

.colorPoliceBlack {    
  color : black;
}

.colorPoliceWhite{
  color : white;
}

.colorPolicePink {
  color : #C93364;
}

.colorPoliceLightPink {
  color : #D6859E;
}

@font-face{
  font-family: "MaPolice-black";
  src:url(/assets/webfonts/Lato2OFLWeb/Lato/fonts/Lato-Light.ttf) format('truetype');
}
@font-face{
  font-family: "MaPolice-italic";
  src:url(/assets/webfonts/Lato2OFLWeb/Lato/fonts/Lato-BlackItalic.ttf);
}

.boxShadow {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25) ;
}

body{
  font-family: "MaPolice-black";
}

*{
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------
--------------           CALENDRIER           --------------
----------------------------------------------------------*/

.calendar {
  height: 112vW;
  display: grid;
  grid-template-columns: repeat(7, 14vw);
  grid-template-rows: repeat(8, 14vw);
  color: black;
  background-color: #7DB7A3;
  margin: 1vw;
  border-radius: 1vh;
}

.cell {
  text-align: center;
  font-size: 2vh;
  line-height: 14vw;
}

.numbers:hover {
  color: white;
  background-color: #D6859E;
  border-radius: 50%;
}

.calendar :nth-child(4){
  grid-area: 2 / 1 / 3 / 2;
}

.calendar :nth-child(5){
  grid-area: 2 / 2 / 3 / 3;
}

.calendar :nth-child(6){
  grid-area: 2 / 3 / 3 / 4;
}

.calendar :nth-child(7){
  grid-area: 2 / 4 / 3 / 5;
}

.calendar :nth-child(8){
  grid-area: 2 / 5 / 3 / 6;
}

.calendar :nth-child(9){
  grid-area: 2 / 6 / 3 / 7;
}

.calendar :nth-child(10){
  grid-area: 2 / 7 / 3 / 8;
}


.date-text {
  grid-area: 1 / 3 / 2 / 6 ;
  text-align: center;
  color: white;
  background-color: #d6859e;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  padding: 1vh 1vh;
  margin: auto;
  text-transform: uppercase;
}

.prev {
  grid-area : 1 / 1 / 2 / 3;
  margin: auto;
  font-size: 3vh;
}

.next {
  grid-area : 1 / 6 / 2 / 8;
  margin: auto;
  font-size: 3vh;
}

.next,
.prev {
  cursor: pointer;
}


.today{
color: rgb(0, 0, 0);
background-color: #fffefe;
border-radius: 50%;
}

/* -----------------------------------------------------------
--------------           MON AGENDA           --------------
----------------------------------------------------------*/

#monagenda {
background-color: rgb(125, 183, 163);
margin: 40px 20px;
border: 0.5px solid black;
height: 50vh;
border-radius: 7px;
display: grid;
grid-template-columns: auto;
grid-template-rows: 8vh 12vh 12vh 12vh;
}

#monagenda h1 {
font-family: "MaPolice-black";
font-size: 4vh;
text-align: center;
margin-top: 16px;
}

.cours {
height: auto;
border-radius: 10px;
background-color: white;
border: 0.5px solid black;
border-left: 20px solid green;
margin: 1vh auto;
}

.cours h2 {
font-family: "MaPolice-black";
margin : 1vh 0vh 0vh 1vh;
font-size : 3vh
}

.p {
position: absolute;
bottom: 0;
}

.daHe{
display: grid;
grid-template-columns: 13vh 5vh 7.5vh;
grid-template-rows: 5vh;
margin: 0vh 1vh;
font-size: 2vh;
}

.horaire{
grid-area: 1 / 3;
}

.daHe i, .horaire, .daHe p{
margin: auto 0;
}

.daHe i, .horaire {
text-align: center;
}

/* ---------------------------------------------------------
--------------           KEY FRAMES          ---------------
----------------------------------------------------------*/

@keyframes bounce{
  from {transform: translateY(0);}
   to  {transform: translateY(-2vh);}
}
