body {
    background-image: url(../../images/img4.jpg); 
    background-repeat: no-repeat; 
}

body img:nth-child(2){
    height : 100vh;
    position: absolute;
}
body img:nth-child(1){
    text-align: center;
    margin-top:25vh;
}
body section{
    position: relative;
    top:50vh;
}
body section div:nth-child(1){
    position: absolute;
    opacity: 0.5;
    background-color: #FF0000;
    height:100%;
    width:100%;
}
body section div:nth-child(2){
    text-align: center;
    font-family: "MaPolice-black";
}
.colorWhite{
    color:white;
}
.float a{
    display: block;
    background-color: rgb(216, 212, 212);
    border-radius: 50% 0 0 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}
#container {
    position: fixed;
    bottom: 30vh;
    right: 0; 
}
.black {
    background-color: black;
}
footer{
    background: #CCC;
    position :absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    text-align: center;
    font-size: 60%;
}

footer a:nth-child(1){
    grid-column: 1;
}

footer a{
    font-family: "MaPolice-black";
    border: 1px solid rgb(126, 107, 0);
    color: black;
    text-decoration: none;
    padding-top: 2.5em;
    padding-bottom: 1em;
}

.logo{
    height: 10px;
    width: 10px;
}