
/* ---------------------------------------------------------
--------------           HEADER           ------------------
----------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: "MaPolice-regular";
}

header{
    background-image: url(/images/Accueil1.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 45vw 10vw 45vw;
}

/*------------------------------ 
----------- ASIDE --------------
----------------------------- */

aside a {
    position: fixed;
    right: 0; 
    border-radius: 50% 0 0 50%;
    width: 7vh;
    height: 7vh;
    z-index: 1;
    text-decoration: none;
}

aside a:nth-child(1){
    bottom: 38vh;
    background-color: rgb(255, 255, 255);
}

aside a:nth-child(2){
    bottom: 30vh;
    background-color: black;
}

aside a:nth-child(3){
    bottom: 22vh;
    background-color: rgb(255, 255, 255);
}

.material-icons.md-30 { 
    display: block;
    font-size: 4vh; 
}

.icon1{
    margin-left: 1.7vh;
    margin-top: 1.7vh;
}

/*------------------------------ 
---------- SCROLL --------------
----------------------------- */

.scroll{
    grid-area: 1 / 2 / 2 / 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75vh;
    border: solid 2px rgb(255, 255, 255);
    height: 8vh;
    width: 3.5vh;
    border-radius: 50px;
}

.scroll_child{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    width: 3.5vh;
    height: 3.5vh;
    animation: bounce 0.8s ease infinite;
}

/*------------------------------ 
---------- FOOTER --------------
----------------------------- */

.footer_accueil{
    position :absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 9vh;
    text-align: center;
}

.footer_accueil a:nth-child(1){
    grid-column: 1;
}

.footer_accueil a{
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3vw;
}

.material-icons.md-34 { 
    display: block;
    font-size: 5vh; 
}

.icon2{
    margin: 0.5vh auto;
}

.selection{
    background-color: white;
    color: #D6859E;
}

/* ---------------------------------------------------------
--------------           KEY FRAMES          ---------------
----------------------------------------------------------*/

@keyframes bounce{
    from {transform: translateY(0);}
     to  {transform: translateY(-2vh);}
}


