@font-face{
    font-family: "MaPolice-regular";
    src:url(../../../assets/webfonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.ttf) format('truetype');
}
body{
    text-align:center;
    font-family: "MaPolice-regular";



}
h1{
    display: inline-block;
    margin:auto;
    border-bottom: 1px solid #6B5555;

}
/*----------Cadre----------*/
main{
    margin:8%;
    padding:5%;
    border-radius: 50px;
    background-color: #FFFFFF;
}
/*__________________________________________________*/
/*----------image profil----------*/
img{
    width:25%;
    border-radius: 50%;
    position: relative;
    bottom:5vh;
}
/*__________________________________________________*/
/*----------Component----------*/
section{
    text-align: center;
}
h4{

}
article{
    display: flex;
    justify-content: space-between;
}
div{
    
}
i{

}
/*__________________________________________________*/
/*----------Ligne----------*/

p{
    margin-left:auto;
    margin-right:auto;
    padding:0;
    width: 50%;
    border: 1px solid rgba(141, 141, 141, 0.5);
}
/*__________________________________________________*/
footer{
    width:80%;
    margin: auto;
}
button{
    display: block;
    margin:5% auto 5% auto;
    padding:5%;
    border-radius: 25px;
    width: 100%;
    border:none;
}
#mesDocuments{
    background-color: #FFFFFF;
}
#supressionCompte{
    background-color: #000000;
    color:#FFFFFF;
}