@font-face{
    font-family: "MaPolice-regular";
    src:url(../../../assets/webfonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.ttf) format('truetype');
}
body{
    text-align:center;
    font-family: "MaPolice-regular";
}
h1{
    display: inline-block;
    margin:auto;
    border-bottom: 1px solid #6B5555;
}
/*----------Cadre----------*/
main{
    margin:8%;
    padding:5%;
    border-radius: 50px;
    background-color: #FFFFFF;
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
/*__________________________________________________*/
h4{
    color: #C93364;
}
footer{
    width:80%;
    margin: auto;
}
button{
    display: block;
    margin:5% auto 5% auto;
    padding:5%;
    border-radius: 25px;
    width: 100%;
    border:none;
    outline: none;
}
#mesDocuments{
    background-color: #FFFFFF;
}
#supressionCompte{
    background-color: #000000;
    color:#FFFFFF;
}
#close{
    position: absolute;
    top:0;
    right: 0;
}
